#container {
    background: none;
}

#container section article span {
    font-size: 1200%;
    width: 100%;
    color: #e6e6e6;
}

#container section article {
    padding: 150px 0;
    text-align: center;
    color: #ccc;
    font-weight: 400;
}

#container h3 {
    font-weight: 700;
    font-size: 200%;
    text-transform: capitalize;
}

.content {
    width: 774px;
    padding: 0;
}